.navbar {
  display: inline-block;
  margin: 1rem;
}

.title {
  font-size: 32px;
  margin: 0.8rem 2rem;
  font-weight: bolder;
}

.content {
  margin: 1rem;
}

.book-list {
  overflow: auto;
  width: 100%;
  display: inline-flex;
}

.book-card {
  margin: 1em;
  padding: 1rem;
  outline: auto;
}
